.metadata/
*.index
*.snap
*.snap
Java Code/.metadata/.plugins/org.eclipse.core.resources/.projects/DBLab Project/.indexes/e4/history.index
*.dat
Java Code/DBLab Project/bin/Tester.class
Java Code/DBLab Project/src/Tester.java
