#create_button {
    -jfx-button-type: RAISED;
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
.level-legend {
    -fx-padding: 10; 
    -fx-border-width: 2; 
    -fx-background-color: #00ff6aee; 
    -fx-border-color: derive(rgba(211, 211, 211, 0.7), 10%);
  }
#back_button {
    -jfx-button-type: RAISED;
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}