.anchor
{
   -fx-background-image: url('backbill.png');  
   -fx-background-size: 100% 100%;
}
#anchor-label {
   -fx-text-fill: #FB8122;
   -fx-font-size: 50px;
   -fx-font-family: "SansSerif";
-fx-font-weight: BOLD;
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0.3,0.9,0.1,0.1) , 5, 0.0 , 0 , 1 );
}
#label{
    -fx-background-color: #C2E9FB;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
}
#back-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #5F7CD7;
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#submit-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #5F7CD7;
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#back-main-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #5F7CD7;
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#list-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #5F7CD7;
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#show-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #5F7CD7;
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #355C7D; 
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER;
}
.table-view .cell{
   -fx-cell-size: 35;
  -fx-alignment: center;
  -fx-background-color: #C2E9FB;
  -fx-border-color: #C2E9FB;
  -fx-text-fill: black;
  -fx-alignment: CENTER;
   
}
.table-row-cell:selected {
   -fx-background-color: whitesmoke; 
   -fx-text-background-color: #6622CC;      
}

.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #6622CC,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6622CC,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}