.anchor
{
   -fx-background-image: url('backbill.png');
   -fx-background-size: 100% 100%;
}
.label {
	 -fx-font-size: 20px;
}
#anchor-label {
   -fx-text-fill: #512C04;
   -fx-font-size: 34px;
   -fx-font-family: "Sans Serif";
   -fx-font-weight: BOLD;
   -fx-fill: #818181;
}
#back-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #5F7CD7;
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#submit-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #5F7CD7;
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#list-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #5F7CD7;
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}


