#anchor-label {
   -fx-text-fill: #FB8122;
   -fx-font-size: 41px;
   -fx-font-family: "Sans Serif";
   -fx-font-weight: BOLD;
   -fx-fill: #818181;
}

.button {
    -jfx-button-type: RAISED;
    -fx-background-color: #5F7CD7;
    -fx-background-insets: 0,1,1,1;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}



