#button {
-fx-background-image: url('selling.png');
   -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 80%;
    -fx-background-color: 
        #627EF1;
    -fx-padding: 8 8 8 8;
	-fx-border-color: #4869F0
}
#button3 {
-fx-background-image: url('management.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 80%;
    -fx-background-color: 
        #627EF1;
    -fx-padding: 8 8 8 8;
	-fx-border-color: #4869F0
}
#button1 {
-fx-background-image: url('import.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 80%;
    -fx-background-color: 
        #627EF1;
    -fx-padding: 8 8 8 8;
	-fx-border-color: #4869F0
}
#button2 {
-fx-background-image: url('statistics.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 80%;
    -fx-background-color: 
        #627EF1;
    -fx-padding: 8 8 8 8;
	-fx-border-color: #4869F0
}
.button:hover {
    -fx-background-color:#dae7f3;
  }
.anchor
{
   
}