#button{
    -jfx-button-type: FLAT;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #fcfcfc;
    -fx-font-size: 14px;
}
.anchor
{
   -fx-background-image: url('neural1.png');
   -fx-background-size: 100% 100%;
}
#label
{
    -fx-text-fill: white;
    -fx-border-color: blue;
    -fx-background-color: brown;
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
#text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}